<div class="container-fluid identity-container" ng-controller="ResetPasswordController">
    <div class="row">
        <div class="identity-logo">
            <img src="graphics/bglogo.png">
            <p>my trip</p>
        </div>
        <div class="col-sm-3 identity-sidebar">
            <div class="alert alert-danger" ng-repeat="message in errorMessages">
                {{ message }}
            </div>
            <br>
            <h2>Create new password</h2>
            <form role="form" id="newPasswordForm" method="post" ng-submit="saveNewPassword($event)">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New password" ng-model="form.newPassword" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Repeat new password" ng-model="form.newPasswordRepeat" required>
                </div>
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>