<div class="container-fluid identity-container" ng-controller="ResetPasswordController">
    <div class="row">
        <div class="identity-logo">
            <img src="graphics/bglogo.png">
            <p>my trip</p>
        </div>
        <div class="col-sm-3 identity-sidebar">
            <div class="alert alert-success">
                <p>Your new password was saved. You can now sign in.</p>
                <p><a class="btn btn-default" href="#/signIn">Sign in</a></p>
            </div>
        </div>
    </div>
</div>