<div class="container-fluid" ng-controller="ResetPasswordController">
    <div class="row">
        <div class="col-sm-3" style="position:fixed;right:0;background-color:#e6e6e6;height:100%;width:100%;max-width:320px;min-width:256px;float:right;padding:0 16px 16px;">
            <div class="alert alert-success">
                <p>Your new password was saved. You can now sign in.</p>
                <p><a class="btn btn-default" href="#/signIn">Sign in</a></p>
            </div>
        </div>
    </div>
</div>