<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">mytrip</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!username"><a href="#/signIn"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
                <li ng-if="username"><a href="#/signIn" ng-click="signOut()"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
                <li ng-if="username"><a href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container-fluid" style="text-align:center;margin:24px;">
    <!-- Browse/Discover switcher -->
    <ul class="pagination">
        <li class="active"><a href="#">Browse</a></li>
        <li class="disabled"><a href="#">Discover</a></li>
    </ul>
</div>

<div class="container" ng-controller="TripsController">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="trip in trips | filter:{IsPublic:true}">
                <div class="dummy"></div>
                <a  href="#" class="thumbnail purple">
                    <img ng-src="{{photo[0].bigThumbnailUrl}}"/>
                    <div>Id: {{ trip.Id }}</div>
                    <div>Date: {{ trip.Date }}</div>
                </a>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="col-md-3" >


        </div>
    </div>
</div>

<!-- Footer -->
<hr style="border-color: #cdcdcd;">
<div class="container" style="text-align:center;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>
</div>