<nav style="background: #fff; border-bottom:4px solid #e6e6e6; margin-bottom: 32px;padding:0px;">

        <div class="container" style="height:110px;background: url(graphics/header_background.jpg) no-repeat 120px;" ng-controller="IdentityController">

            <div class="row" >
                <div style="float:left;">
                    <a href="#"><img src="graphics/trip_logo.png" style="margin: 4px 0;"> </a>
                </div>

                <div style="float:right;text-align: right">
                    <div style="display: inline-block;vertical-align: middle">
                        <p ng-if="username" style="font-variant: small-caps ;font-size:1.5em;padding: 0 8px;margin: 0;"><a href="#" style="font-weight:600;font-family:'Exo';color:#373737;text-decoration:none">{{username}}</a></p>
                        <p ng-if="username" style="line-height:1em;font-size:0.9em;padding: 0 8px;margin: 0;"><a style="color:#373737;text-decoration:none" href="#/signIn">Sign out</a></p>
                        <p ng-if="!username" style="line-height:1em;font-size:0.9em;padding: 0 8px;margin: 0;"><a style="color:#373737;text-decoration:none" href="#/signIn">Sign in</a></p>
                    </div>
                    <a href="#"><img src="graphics/user_logo.png" style="margin:18px 0;height: 72px;width: auto;opacity:0.65;"> </a>
                </div>
            </div>

        </div>

</nav>