/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.img-half-size {
  max-height: 50%;
  max-width: 50%;
}

.angular-google-map-container {
  height: 400px;
}

a.inner-element {
  list-style: disc inside;
  display: list-item;
}

.dummy {
  margin-top: 100%;
}
.thumbnail {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 15px;
  right: 0;
  text-align:center;
  padding-top:calc(50% - 30px);
}