.identity-container {
    background: transparent url(../graphics/bg.jpg) no-repeat fixed center center / cover;
    width:100%;
    height:100%;
    position: absolute;
}

.identity-sidebar {
    position:fixed;
    right:0;
    background-color: #fafafa;
    height: 100%;
    width:100%;
    max-width: 320px;
    min-width: 256px;
    float:right;
    padding:0 16px 16px;
}