.gallery-switch {
    display:inline-block;
    width: 235px;
    height:200px;
}

#gallery-browse  {
    background: url(../graphics/browse_gray.png) no-repeat;
}

#gallery-browse:hover {
    background: url(../graphics/browse_color.png) no-repeat;
}

#gallery-browse.active {
    background: url(../graphics/browse_color.png) no-repeat;
}

#gallery-discover  {
    background: url(../graphics/discover_gray.png) no-repeat;
}

#gallery-discover.active  {
    background: url(../graphics/discover_color.png) no-repeat;
}

#gallery-discover:hover  {
    background: url(../graphics/discover_color.png) no-repeat;
}

.gallery-button {
    height: 48px;
    margin: 8px 0;
}

.gallery-expand {
    background: url(../graphics/expand_icon.png) no-repeat center;
}

.gallery-shrink {
    background: url(../graphics/shrink_icon.png) no-repeat center;
}