<div ng-include src="'template/identity/identity-navbar.html'"></div>

<!-- TODO check the owner -->

<div class="container" ng-controller="TripsController">
    <div class="col-md-9">
        <h3><a href="#/trips">< Back to trips</a></h3>
        <h3>Trip: {{focusedTrip}}</h3>
        <div ng-show="tripFormattingStatus" class="alert alert-danger">
            {{tripFormattingStatus}}
        </div>

        <div ng-hide="tripFormattingStatus" class="img-rounded">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable='true' events='map.events'>
                <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon"
                                idkey="m.id" options="m.options">
                </ui-gmap-marker>
                <ui-gmap-polylines doRebuildAll="true" models="trackings" path="'geotracks'" static="false" fit="true"></ui-gmap-polylines>
            </ui-gmap-google-map>
        </div>
    </div>
    <div class="col-md-3">
        <h3>Details
            <span ng-show="updateRouteSuccessful == true" class="label label-success">Updated</span>
            <span ng-show="updateRouteSuccessful == false" class="label label-danger">Failure</span>
        </h3>

        <div class="list-group">

            <!-- Waypoints -->
            <div href="" class="list-group-item">
                <span class="badge">{{map.markers.length}}</span>
                <h4 class="list-group-item-heading">Waypoints
                    <span ng-click="listWaypoints()" ng-class="waypoints == null ? 'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-up'" style="cursor: pointer;"></span>
                    <span ng-show="waypointsChanged" ng-click="saveChangedWaypoints()" class="glyphicon glyphicon-floppy-disk" aria-hidden="true" style="cursor: pointer;"></span>
                </h4>
            </div>

            <div id="scrollArea" class="list-group" ng-show="waypoints">
                <div ng-repeat="waypoint in waypoints" href="#" class="list-group-item inner-element">
                    <a href="" ng-click="removeWaypoint($index)"><span style="float: right; padding: 3px"
                                                                       class="glyphicon glyphicon-remove"></span></a>
                    <a ng-hide="$index == waypoints.length-1" href="" ng-click="moveWaypointDown($index)"><span
                            style="float: right; padding: 3px" class="glyphicon glyphicon-download"></span></a>
                    <a ng-hide="$index == 0" href="" ng-click="moveWaypointUp($index)"><span
                            style="float: right; padding: 3px" class="glyphicon glyphicon-upload"></span></a>
                    <div># {{$index + 1}}</div>
                    <div>City: {{waypoint.coords.city}}</div>
                    <div>Lat: {{waypoint.coords.latitude}}</div>
                    <div>Lon: {{waypoint.coords.longitude}}</div>
                </div>
            </div>
        </div>
    </span>
</div>
<hr>
<div class="container" style="margin-top: 5px">
    <div class="col-md-5" ng-controller="PhotoController" style="background: rgb(250,250,250); padding: 15px; border: 1px solid rgb(230,230,230)"><!--kolorki na razie pomocniczo-->
        <div ng-show="successAddingNewPhoto == true" class="alert alert-success">
            Successfully added a new photo!
        </div>
        <h3>Photos</h3>

        <div class="col-md-12">
            <a data-toggle="modal" data-target="#addPhotoModal">
                <span class="glyphicon glyphicon-plus"></span> Add photo
            </a>
        </div>

        <br/>
        <br/>

        <div class="col-md-5 table-bordered" style="margin: 3px; background-color: #fcf8e3" ng-repeat="photo in photos">
            <img ng-show="photo.Status == 1" src="{{photo.ThumbnailUrl}}" class="img-responsive">
            <h4 ng-show="photo.Status == 0">Converting in progress...</h4>
        </div>

        <div class="modal fade" id="addPhotoModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add photo</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="successAddingNewPhoto == false" class="alert alert-danger">
                            Failed to add a new photo!
                        </div>
                        <form role="form" id="addPhotoForm" method="post" data-ng-submit="addPhoto(photoFile, 'addPhotoModal')">
                            <div class="form-group">
                                <label for="videoFile">Choose photo file:</label>
                                <input type="file" class="file" id="photoFile" ng-model="photoFile" accept=".png"
                                       onchange="angular.element(this).scope().setFile(this)" required>
                                <span class="file-custom"></span>
                            </div>

                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6" ng-controller="VideoController" style="background: rgb(250,250,250); padding: 15px; border: 1px solid rgb(230,230,230)">
        <h3>Videos</h3>

        <div class="col-md-12">
            <a data-toggle="modal" data-target="#addVideoModal">
                <span class="glyphicon glyphicon-plus"></span> Add video
            </a>
        </div>

        <div class="col-md-2" ng-repeat="movie in movies">
            {{ movie }}
        </div>

        <div class="modal fade" id="addVideoModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add video</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="addVideoForm" method="post" ng-submit="addVideo(videoFile, 'addVideoModal')">
                            <div class="form-group">
                                <label for="videoFile">Choose video file:</label>
                                <input type="file" class="file" id="videoFile" ng-model="videoFile" accept="video/mpeg"
                                       onchange="angular.element(this).scope().setFile(this)" required>
                                <span class="file-custom"></span>
                            </div>

                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>