<div ng-include src="'template/identity/identity-navbar.html'"></div>

<div ng-controller="EditTripController">

<div class="container-fluid" style="text-align:center;margin:24px;">
    <!-- Browse/Discover switcher -->
    <ul class="nav nav-pills" style="display: inline-block;">
        <li class="active"><a href="#">Browse</a></li>
        <li class="disabled"><a href="#">Discover</a></li>
    </ul>
</div>

<div class="container" ng-controller="TripsController" style="text-align: center;">
    <div class="row" style="text-align: left;">
        <!-- add trip view-->
        <div class="col-sm-3">
            <div class="trip-box-frame">
                <div id="trip-box-new" ng-click="openEdit()"></div>
            </div>
        </div>

        <div class="col-sm-3" ng-repeat="trip in preview | filter:{IsPublic:false}">

            <div class="trip-box-frame">
                <div class="trip-box-loaded">
                    <div class="trip-box-thumbnail">
                        <img ng-src="{{photo[0].bigThumbnailUrl}}"/>
                    </div>
                    <div class="trip-box-name">
                        {{trip.Name}}
                    </div>
                    <div class="trip-box-owner">
                        {{trip.Owner}}
                    </div>
                    <div class="trip-box-description">
                        {{trip.Description}}
                    </div>
                    <div class="trip-box-menu">
                        <a href="#/trip/{{trip.Id}}"><button class="action-button glyphicon glyphicon-road" data-toggle="tooltip" title="Route"></button></a>
                        <div class="action-button glyphicon glyphicon-picture" data-toggle="tooltip" title="Postcard"></div>
                        <div class="action-button glyphicon glyphicon-link" data-toggle="tooltip" title="Share"></div>
                        <div class="action-button glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Expand button -->
    <span class="glyphicon glyphicon-th" aria-hidden="true" style="margin:24px;font-size: 24px;cursor: not-allowed"></span>
</div>

<!-- Footer -->
<hr style="border-color: #cdcdcd;">
<div class="container" style="text-align:center;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>
</div>

<!-- Edit trip view -->
<table ng-show="requested" style="position:fixed;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);">
    <td align="center">
        <div style="background-color:#e6e6e6;width:100%;max-width:320px;min-width:256px;padding:16px;text-align:left;">
            <h3>Edit trip</h3>
            <form role="form" id="editForm" method="post" data-ng-submit="saveEdit(tripFile)">
                <div id="trip-edit-thumbnail"></div>
                <div class="form-group">
                    <label for="tripname">Name:</label>
                    <input type="text" class="form-control" id="tripname" required ng-model="tripName">
                </div>
                <div class="form-group">
                    <label for="tripdesc">Description:</label>
                    <textarea class="form-control" rows="3" id="tripdesc" style="resize: none;" required ng-model="tripDesc"></textarea>
                </div>
                <div class="form-group">
                    <label for="triproute">Route:</label>
                    <input type="file" class="file" id="triproute" required ng-model="tripFile" accept=".txt" onchange="angular.element(this).scope().setFile(this)">
                </div>
                <button type="button" class="btn btn-default" ng-click="closeEdit()">Cancel</button>
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </td>
</table>

</div>