<div ng-include src="'template/identity/identity-navbar.html'"></div>

<div class="container" ng-controller="TripsController">
    <div class="col-md-9">
        <h3><a href="#/trips">< Back to trips</a></h3>
        <div class="img-rounded">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable='true' events='map.events'>
                <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon"
                                idkey="m.id" options="m.options">
                </ui-gmap-marker>
                <ui-gmap-polylines doRebuildAll="true" models="trackings" path="'geotracks'" static="false" fit="true"></ui-gmap-polylines>
            </ui-gmap-google-map>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Trip {{focusedTrip}}</h2>
        <div class="list-group">

            <!-- Waypoints -->
            <div href="" class="list-group-item">
                <span class="badge">{{map.markers.length}}</span>
                <h4 class="list-group-item-heading">Waypoints
                    <span ng-click="listWaypoints()" ng-class="waypoints == null ? 'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-up'" style="cursor: pointer;"></span>
                    <span ng-show="waypointsChanged" ng-click="saveChangedWaypoints()" class="glyphicon glyphicon-floppy-disk" aria-hidden="true" style="cursor: pointer;"></span>
                </h4>
            </div>

            <div class="list-group" ng-show="waypoints">
                <div ng-repeat="waypoint in waypoints" href="#" class="list-group-item inner-element">
                    <a href="" ng-click="removeWaypoint($index)"><span style="float: right; padding: 3px"
                                                                       class="glyphicon glyphicon-remove"></span></a>
                    <a ng-hide="$index == waypoints.length-1" href="" ng-click="moveWaypointDown($index)"><span
                            style="float: right; padding: 3px" class="glyphicon glyphicon-download"></span></a>
                    <a ng-hide="$index == 0" href="" ng-click="moveWaypointUp($index)"><span
                            style="float: right; padding: 3px" class="glyphicon glyphicon-upload"></span></a>
                    <div># {{$index + 1}}</div>
                    <div>City: {{waypoint.coords.city}}</div>
                    <div>Lat: {{waypoint.coords.latitude}}</div>
                    <div>Lon: {{waypoint.coords.longitude}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container" style="margin-top: 5px">
    <div class="col-md-6" ng-controller="PhotoController">
        <button ng-click="getPhotos()">Get photos</button>
        <table>
            <td align="center">
                <div ng-show="successAddingNewPhoto == true" class="alert alert-success">
                    Successfully added a new photo!
                </div>
                <div ng-show="successAddingNewPhoto == false" class="alert alert-warning">
                    Failed to add a new photo!
                </div>
                <h3 ng-hide="addingNewPhoto"><a href="" ng-click="showPhotoForm()">
                    <span class="glyphicon glyphicon-plus" style="font-size: 1em;"></span> Add a new photo
                </a></h3>

                <form ng-show="addingNewPhoto" role="form" id="editForm" method="post" data-ng-submit="addPhoto(photoFile)">

                    <div class="form-group">
                        <input type="file" class="file" id="photoFile" required ng-model="photoFile" accept=".png"
                               onchange="angular.element(this).scope().setFile(this)">
                        <span class="file-custom"></span>
                    </div>

                    <button type="submit" class="btn btn-default">Add</button>
                </form>
            </td>
        </table>
    </div>

    <div class="col-md-6" ng-controller="VideoController">
        <h3 class="col-md-10">Videos</h3>
        <button ng-click="getMovies()">Get photos</button>
        <a class="btn btn-default" style="margin-top: 15px" role="button" data-toggle="modal" data-target="#deleteModal">Add video</a>

        <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add video</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="addVideoForm" method="post" ng-submit="addVideo(videoFile)">
                            <div class="form-group">
                                <label for="videoFile">Choose video file:</label>
                                <input type="file" class="file" id="videoFile" ng-model="photoFile" accept="video/mpeg"
                                       onchange="angular.element(this).scope().setFile(this)" required>
                                <span class="file-custom"></span>
                            </div>

                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>