<div ng-include src="'template/identity/identity-navbar.html'"></div>

<div ng-controller="EditTripController">

<!--<div class="container" ng-controller="TripsController" style="text-align: center;">-->
<div class="container" style="text-align: center; padding-bottom: 32px;">
    <!-- Browse/Discover switcher -->
    <div style="text-align: center">
        <p class="gallery-switch" ng-class="{'active' : !public}" id="gallery-browse" ng-click="togglePublic(false)"></p>
        <p class="gallery-switch" ng-class="{'active' : public}" id="gallery-discover" ng-click="togglePublic(true)"></p>
    </div>

    <div class="row" style="text-align: left;">
        <!-- add trip view-->
        <div ng-show="!public" class="col-sm-3">
            <div class="trip-box-frame">
                <div id="trip-box-new"  ng-click="openEdit()">
                    <span style="font-size: 80px; color: green; position: relative; top: 50%; transform: translateY(-50%);"
                          class="glyphicon glyphicon-plus"></span>
                </div>
            </div>
        </div>

        <div class="col-sm-3" ng-repeat="trip in preview | filter:{IsPublic:false}">
            <div class="trip-box-frame">
                <div class="trip-box-loaded">
                    <div class="trip-box-thumbnail">
                        <img ng-src="{{photo[0].bigThumbnailUrl}}"/>
                    </div>
                    <div class="trip-box-name">
                        {{trip.Name}}
                    </div>
                    <div class="trip-box-owner">
                        {{trip.Owner}}
                    </div>
                    <div class="trip-box-description">
                        {{trip.Description}}
                    </div>
                    <div class="trip-box-menu">
                        <a href="#/trip/{{trip.id}}"><button class="action-button glyphicon glyphicon-road" data-toggle="tooltip" title="Route"></button></a>
                        <div class="action-button glyphicon glyphicon-picture" data-toggle="tooltip" title="Postcard" ng-click="showPoster(trip.Id)"></div>
                        <div class="action-button glyphicon glyphicon-link" ng-show="trip.isPublic" data-toggle="tooltip" title="Share" ng-click="shareTrip(trip)"></div>
                        <div ng-show="!public" class="action-button glyphicon glyphicon-user" ng-show="!trip.isPublic" data-toggle="tooltip" title="Share" ng-click="shareTrip(trip)"></div>
                        <div ng-show="!public" class="action-button glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit" ng-click="openEdit(trip)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Expand button -->
    <div class="gallery-button" ng-class="{'gallery-shrink' : galleryVisible, 'gallery-expand' : ! galleryVisible}" ng-click="toggleTripsGallery()">
    </div>

    <div class="row" style="text-align: left;">
        <div ng-show="galleryVisible" class="col-sm-3" ng-repeat="trip in trips | filter:{IsPublic:false}">
            <div class="trip-box-frame">
                <div class="trip-box-loaded">
                    <div class="trip-box-thumbnail">
                        <img ng-src="{{photo[0].bigThumbnailUrl}}"/>
                    </div>
                    <div class="trip-box-name">
                        {{trip.Name}}
                    </div>
                    <div class="trip-box-owner">
                        {{trip.Owner}}
                    </div>
                    <div class="trip-box-description">
                        {{trip.Description}}
                    </div>
                    <div class="trip-box-menu">
                        <a href="#/trip/{{trip.id}}"><button class="action-button glyphicon glyphicon-road" data-toggle="tooltip" title="Route"></button></a>
                        <div class="action-button glyphicon glyphicon-picture" data-toggle="tooltip" title="Postcard" ng-click="showPoster(trip.Id)"></div>
                        <div ng-show="!public" class="action-button glyphicon glyphicon-link" data-toggle="tooltip" title="Share" ng-click="shareTrip(trip)"></div>
                        <div ng-show="!public" class="action-button glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit" ng-click="openEdit(trip)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Load more button -->
    <div ng-show="galleryMore" style="text-align: center; margin: 32px 0 16px 0;">
        <span style="border: 2px solid #373737; padding:8px; border-radius: 4px; cursor: pointer;">Load more</span>
    </div>
</div>

<!-- Footer -->
<div class="container-fluid footer">
    <div class="container" style="text-align:center;">
        <p class="footer-copyright">Copyright Dzikie Obiboki 2016. Wszelkie prawa zastrzezone.</p>
        <p class="footer-cookies">W ramach naszej witryny stosujemy pliki cookies w celu dostosowania serwisu do indywidualnych potrzeb uzytkownika, celach reklamowych i statystycznych. Korzystanie z witryny oznacza, ze pliki cookies beda zamieszczane w Panstwa urzadzeniu koncowym. W kazdej chwili moga Panstwo w swojej przegladarce dokonac zmiany ustawien dotyczacych cookies.</p>
    </div>
</div>

<!-- Edit trip view -->
<table ng-show="requested" style="position:fixed;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);">
    <td align="center">
        <div style="background-color:#e6e6e6;width:100%;max-width:320px;min-width:256px;padding:16px;text-align:left;">
            <h3 ng-show="editedTrip">Edit trip</h3>
            <h3 ng-show="!editedTrip">New trip</h3>
            <form role="form" id="editForm" method="post" data-ng-submit="saveEdit(tripFile)">
                <div id="trip-edit-thumbnail"></div>
                <div class="form-group">
                    <label for="tripname">Name:</label>
                    <input type="text" class="form-control" id="tripname" required ng-model="tripName">
                </div>
                <div class="form-group">
                    <label for="tripdesc">Description:</label>
                    <textarea class="form-control" rows="3" id="tripdesc" style="resize: none;" required ng-model="tripDesc"></textarea>
                </div>
                <div class="form-group" ng-show="!editedTrip">
                    <label for="triproute">Route:</label>
                    <input type="file" class="file" id="triproute" ng-model="tripFile" accept=".txt" onchange="angular.element(this).scope().setFile(this)">
                </div>
                <button type="button" class="btn btn-default" ng-click="closeEdit()">Cancel</button>
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </td>
</table>

</div>